@*@model EMS_MVC_07Jan2024.Models.Department.DepartmentModel*@

@model List<EMS_MVC_07Jan2024.Models.Department.DepartmentModel>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @*<div>
            <hr />
            <h3>Department Id   :  @Model.DepartmentId</h3>
            <h3>Department Code :  @Model.DepartmentCode</h3>
            <h3>Department Name :  @Model.DepartmentName</h3>
            <hr />
        </div>*@

    @foreach (var item in Model)
    {
        <hr />
        <h3>Department Id   :  @item.DepartmentId</h3>
        <h3>Department Code :  @item.DepartmentCode</h3>
        <h3>Department Name :  @item.DepartmentName</h3>
        <hr />
    }
</body>
</html>
