@*@model EMS_MVC_07Jan2024.Models.Department.DepartmentModel*@

@model List<EMS_MVC_07Jan2024.Models.Department.DepartmentModel>

@*@{
        Layout = "~/Views/Shared/MasterLayout.cshtml";
    }*@

@*<!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <link href="~/ClientLib/css/bootstrap.css" rel="stylesheet" />
        <title>Index</title>
    </head>
    <body>*@

@*<div>
        <hr />
        <h3>Department Id   :  @Model.DepartmentId</h3>
        <h3>Department Code :  @Model.DepartmentCode</h3>
        <h3>Department Name :  @Model.DepartmentName</h3>
        <hr />
    </div>*@

@*@foreach (var item in Model)
    {
        <hr />
        <h3>Department Id   :  @item.DepartmentId</h3>
        <h3>Department Code :  @item.DepartmentCode</h3>
        <h3>Department Name :  @item.DepartmentName</h3>
        <hr />
    }*@

@*<div class="container-fluid">*@

<div>
    @*<ol>
        @foreach (var item in ViewBag.mydata)
        {
            <li>@item</li>
        }
    </ol>

    <hr />
    <ul>
        @foreach (var item in (List<string>)ViewData["Msg"])
        {
            <li>@item</li>
        }
    </ul>*@

    <h3>
        @Html.ActionLink("Create", "Create", null, new { @class = "btn btn-primary" })
    </h3>
</div>
<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th>Department Code</th>
                <th>Department Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.DepartmentCode</td>
                    <td>@item.DepartmentName</td>
                    <td>
                        <!--<div class="btn-group" role="group">-->
                        @*<a href="#" class="btn btn-danger">Remove</a>*@
                        <!--@Html.ActionLink("Remove", "Delete", new { DepartmentID = item.DepartmentId }, new { @class = "btn btn-danger"})-->
                        @*<a href="#" class="btn btn-primary">Edit</a>*@
                        <!--@Html.ActionLink("Edit", "Edit", new { DepartmentID = item.DepartmentId }, new { @class = "btn btn-primary" })

    </div>-->
                        @using (Html.BeginForm("Delete","Department",new { DepartmentID = item.DepartmentId },FormMethod.Post))
                        {
                            <div class="btn-group" role="group">
                                <input type="submit" value="Remove" class="btn btn-danger" />
                                @*@Html.ActionLink("Remove", "Delete", new { DepartmentID = item.DepartmentId }, new { @class = "btn btn-danger" })*@
                                @Html.ActionLink("Edit", "Edit", new { DepartmentID = item.DepartmentId }, new { @class = "btn btn-primary" })

                            </div>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@*</div>*@

@*</body>
    </html>*@

 
